[submodule "src/complete-alias"]
	path = src/complete-alias
	url = git@github.com:cykerway/complete-alias.git
[submodule "src/git-select"]
	path = src/git-select
	url = git@github.com:itsjohncs/git-select.git
